checkpoint/*
/SSDe/heeseon/src/D3T/cvpods/data/FLIR_ICIP2020_aligned/AnnotatedImages/*
/SSDe/heeseon/src/D3T/cvpods/data/FLIR_ICIP2020_aligned/Annotations/*
/SSDe/heeseon/src/D3T/cvpods/data/FLIR_ICIP2020_aligned/JPEGImages/*

cvpods/data/FLIR_ICIP2020_aligned/AnnotatedImages/*
cvpods/data/FLIR_ICIP2020_aligned/Annotations/*
cvpods/data/FLIR_ICIP2020_aligned/JPEGImages/*

cvpods/data/FLIR_ICIP2020_aligned/AnnotatedImages
cvpods/data/FLIR_ICIP2020_aligned/Annotations
cvpods/data/FLIR_ICIP2020_aligned/JPEGImages

outputs/*
experiment/flir_rgb2thermal/__pycache__/*.pyc
experiment/flir_rgb2thermal/__pycache__/*




